@import url("https://fonts.googleapis.com/css?family=Inter:300,600");
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

:root {
  --yellow: #efcb68;
  --darkpurple: #160c28;
  --offwhite: #e1efe6;
  --grey: #aeb7b3;
  --offblack: #000411;

  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;
  --xl: 32px;
  --xxl: 48px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

form {
  flex-grow: 1;
}

.u-flex {
  display: flex;
}

.u-flexColumn {
  display: flex;
  flex-direction: column;
}

.u-flex-justifyCenter {
  justify-content: center;
}

.u-flex-alignCenter {
  align-items: center;
}

.u-inlineBlock {
  display: inline-block;
}

.u-bold {
  font-weight: 600;
}

.u-textCenter {
  text-align: center;
}

.u-relative {
  position: relative;
}

.u-pointer {
  cursor: pointer;
}

.u-pointer:hover{
  text-decoration: underline;

}

.bg {
  background-color: var(--offwhite);
  height: 100%;
  width: 100%;
  padding-bottom: 20px;
}

.u-pageHeader {
  text-align: center;
  font-weight: 400;
  font-size: 40px;
}

.u-linked {
  color: #0269a4;
  text-decoration: none;
}