.Post-container {
    margin: 3%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 2%;
    border-radius: 48px;
    background-color: var(--cream);
    box-shadow: 0 0 30px -10px var(--offblack);
}
.Post-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1%
}

.Entry-flex {
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    width: fit-content;
    justify-content: center;
    align-items: center;
    margin-left:3%;
    margin-right: 3%;
}

.Review-flex {
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    width: 100%;
    justify-content: center;
    align-items: center;
}

.Review-input {
    flex-grow: 1;
    font-family: "Inter";
    border: var(--grey) 2px solid;
    border-radius: var(--xs);
    transition: box-shadow 0.1s;
    font-size: 22px;
    width: 90%;
  }
  
  .Review-input:focus-within {
    border-color: var(--primary--dim);
    box-shadow: 0 0 0 var(--xs) rgba(0, 123, 255, 0.25);
  }

  .centered-elements {
      display:inline-flex;
      justify-content: center;
      align-items: center;
      width:100%
  }

.dropdown {
    font-size: 20px;
    font-family: 'Inter';
    border-radius: 6px;
}

.Submit-button {
    font-size: 22px;
    padding: var(--s) var(--m);
    color: var(--darkpurple);
    font-family: "Inter";
    border: var(--grey) 1px solid;
    border-radius: var(--xs);
    background-color: #e0e0e0;
    transition: color 0.1s, background 0.1s;
  }
  
  .Submit-button:hover {
    background-color: #fff;
    color: black;
  }

  .Adamovies-logo180{
      padding-top: 1%;
      padding-bottom: 2%;
  }

  .Adamovies-logo180bordering {
      border: 2px solid white;
      border-radius: 8px;
  }

  .post-submit{
      margin-top: 20px;
  }

  .field-text {
    color: var(--darkpurple);
  }

  .Content-input {
    flex-grow: 1;
    font-family: "Inter";
    border: var(--grey) 2px solid;
    border-radius: var(--xs);
    transition: box-shadow 0.1s;
    font-size: 16px;
    width: 90%;
  }

  .table-container-draft{
    width:60%;
    border-style: solid;
    border-radius: 16px;
    margin: 0 auto;
    margin-top:2%;
    overflow: hidden;
    margin-bottom: 3%;
  }

  .styled-table2 {
    border-collapse: collapse;
    font-size: 0.9em;
    width:100%;
    height:100%;
    padding-bottom: 20px;
  }
  .styled-table2 thead tr {
    background-color: #3a1160;    
    text-align: center;
  }
  .styled-table2 th,
  .styled-table2 td {
      padding: 12px 15px;
      font-size: 14pt;
      text-align: left;
  }
  
  .styled-table2 tbody tr {
    border-bottom: 2px solid var(--grey);
  }
  
  .styled-table2 tbody tr:nth-of-type(odd) {
    background-color: var(--cream);
  }

  .styled-table2 tbody tr:nth-of-type(even) {
    background-color: white;
  }
  
  .styled-table2 tbody tr:last-of-type {
    border-bottom: 8px solid var(--darkpurple);
  }
  
  .styled-table2 tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }

  .tabletitletext2{
    color: white;
    font-size: 100px;
  }

  .Submit-button-draft {
    font-size: 22px;
    padding: var(--s) var(--m);
    color: var(--darkpurple);
    font-family: "Inter";
    border: var(--grey) 1px solid;
    border-radius: var(--xs);
    background-color: #e0e0e0;
    transition: color 0.1s, background 0.1s;
    margin-right: 1%;
    margin-left: 1%;
  }
  
  .Submit-button-draft:hover {
    background-color: #fff;
    color: black;
  }

  .edit-icon{
    margin-left: 1%;
    margin-right: 1%;
    cursor: pointer;
  }

  .edit-icon:hover{
    opacity: 0.6;
  }