.Profile-picture {
    border-radius: 25%;
    max-width: 90%;
    max-height: 90%;
    display:block;
    margin-top: 2.5%;
    margin-left: auto;
    margin-right: auto;
    border: 8px solid var(--offblack);
    box-shadow: 0 0 40px -10px var(--offblack);
}

.Input-input {
    flex-grow: 1;
    font-family: "Inter";
    border: var(--grey) 1px solid;
    border-radius: var(--xs);
    transition: box-shadow 0.1s;
    margin-left: 8px;
    font-size: 22px;
  }
  
  .Input-input:focus-within {
    border-color: var(--primary--dim);
    box-shadow: 0 0 0 var(--xs) rgba(0, 123, 255, 0.25);
  }

  .status-button {
    color: #000;
    font-family: "Inter";
    font-size: 24px;
    border: var(--grey) 1px solid;
    border-radius: var(--xs);
    background-color: #fff;
    box-shadow: 0 0 20px -10px var(--offblack);
    cursor: pointer;
    opacity: .75;
  }

  .status-button:hover {
    color: var(--offblack);
    opacity: 1.0;
    
  }
  .button-container {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: fit-content;
    margin-bottom: 16px;
  }

  .profile-line {
    border: 1px solid var(--offblack);
    border-radius: 5px;
    width:88%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  .profile-uname{
    font-size: 42pt;
    margin-bottom: 0;
    margin-top: 0;
  }

  .Profile-subContainer {
    flex-grow: 1;
    flex-basis: 0;
  }
  
  .Profile-subContainer + .Profile-subContainer {
    margin-left: var(--m);
  }
  
  .Profile-subTitle {
    font-weight: 300;
    font-size: 36px;
    margin: var(--m) var(--s);
  }

  .username-box{
    margin-left: auto;
    margin-right:auto;
    margin-top: 2%;
    margin-bottom: 2%;
    width: fit-content;
  }

  .Bio-container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 16px;
  }

  .entire-container {
    width: 90%;
    margin-top: 1.5%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid var(--grey);
    box-shadow: 0 0 30px -10px var(--offblack);
    border-radius: 32px;
    background-color: var(--cream);
    height: fit-content;
    padding-bottom: 0;
  }

  .name-button-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .icon-profile-edit{
    margin-top: 2%;
  }

  .Mini-reviews-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 2%;
    padding-right: 2%;
    justify-content: center;
}

.email-text{
  font-weight: 300;
}
.email-input-container{
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.no-bottom{
  margin-bottom: 0;
  padding-bottom: 0;
}

.user-check-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.user-check-container-other{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}

.check-icon{
  color: #20a4f4;
}
.check-background{
  color: white;
  border-radius: 50%;
  margin-left: 8px;
}