.Profile-picture {
    margin-top: 20px;
    border-radius: 25%;
    max-width: 500px;
    max-height: 500px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    border: 8px solid var(--offblack);
}