.review-content {
    text-align: left;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 18px;
}
.review-container{
    background-color: #fefdf0;
    border: 2px solid var(--grey);
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5%;
    padding-right:5%;
    padding-bottom: 1%;
    margin-top: 2%;
    box-shadow: 0 0 40px -10px  var(--offblack);
}
.review-containercontainer{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 8%;
}

.Comment-bar {
    margin-bottom: 2%;
}

.comment-single {
    text-align: left;
    margin-left: 3%;
    margin-right: 3%;
}

.review-line {
    margin-top: 2.5%;
    border: 1px solid #555;
    border-radius: 1px;
}
.Review-header {
    margin-left: auto;
    margin-right: auto;
    border: 2px solid var(--grey);
    border-radius: 5px;
    text-align: center;
}

.Review-subContainer {
    flex-grow: 1;
    flex-basis: 0;
  }
  
  .Review-subContainer + .Review-subContainer {
    margin-left: var(--m);
  }
  
  .Review-subTitle {
    font-weight: 333;
    font-size: 30px;
    margin: var(--m) var(--s);
    text-decoration: none;
    color: (--offblack);
  }

  .Review-headercontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* border: 3px solid green; */
    /* padding-left: 2%;
    padding-right: 2%; */
    justify-content: center;
  }
.review-titleentry {
    margin-left: 3%;
    margin-right: 3%;
}

.admin-name{

}
.admin-name:hover{
    cursor: pointer;
    text-decoration: underline;
}
.title-container{
    margin-top: -20px;
}

.back-container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-right: auto;
    margin-left: 2%;
    margin-top: 2%;
}

.back-container:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: all .3s ease-in-out;
}

.no-margin{
    margin: 0 0 0 4px;
    padding: 0 0 0 0;
    font-weight: 400;
    color: black;
}

.liked-heart{
    color: var(--heartred);
}

.unliked-heart{
    color: var(--grey);
}

.unliked-heart:hover{
    color: var(--heartpink);
    cursor: pointer;
    transform: scale(1.1);
    transition: all .25s ease-in-out;
}

.like-container{
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    background-color: var(--offwhite);
    border-radius: 8px;
    padding: var(--s);
}
.likes-text{
    margin: 0 0 0 8px;
    padding: 0 0 0 0;

}

.no-top{
    padding-top:0;
    margin-top: 8px;
}