.review-content {
    text-align: left;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 18px;
}
.review-container{
    background-color: #fefdf0;
    border: 2px solid var(--darkpurple);
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5%;
    padding-right:5%;
    padding-bottom: 1%;
    margin-top: 2%;
}
.review-containercontainer{
    padding-left: 10%;
    padding-right: 10%;
}

.Comment-bar {
    margin-bottom: 2%;
}

.comment-single {
    text-align: left;
    margin-left: 3%;
    margin-right: 3%;
}

.review-line {
    margin-top: 2.5%;
    border: 1px solid #555;
    border-radius: 1px;
}
.Review-header {
    margin-left: auto;
    margin-right: auto;
    border: 2px solid var(--grey);
    border-radius: 5px;
    text-align: center;
}

.Review-subContainer {
    flex-grow: 1;
    flex-basis: 0;
  }
  
  .Review-subContainer + .Review-subContainer {
    margin-left: var(--m);
  }
  
  .Review-subTitle {
    font-weight: 333;
    font-size: 30px;
    margin: var(--m) var(--s);
    text-decoration: none;
    color: (--offblack);
  }