.Bottom-container{
    width: 100%;
    height: fit-content;
    background-color: var(--darkpurple);
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: white;
    padding-top: 32px;
    padding-bottom: 32px;
    box-shadow: 0 0 30px -10px var(--darkpurple);
    background-image: linear-gradient(to right, #3a1160, var(--darkpurple));
}

.Bottom-links:hover{
    cursor: pointer;
    text-decoration: underline;
}

.Bottom-links{
    margin-left: 8px;
    margin-right: 8px;
    color: white;
    text-decoration: none;
}