.Bottom-container{
    width: 100%;
    height: fit-content;
    background-color: var(--darkpurple);
    margin-top: 20px;
    color: white;
    padding-top: 16px;
    padding-bottom: 16px;
    box-shadow: 0 0 30px -10px var(--darkpurple);
    background-image: linear-gradient(to right, #3a1160, var(--darkpurple));
}

.Bottom-links:hover{
    cursor: pointer;
    text-decoration: underline;
}

.Bottom-links{
    margin-left: 8px;
    margin-right: 8px;
    color: white;
    text-decoration: none;
}

.Bottom-icons{
    color: white;
    margin-left: 8px;
    margin-right: 8px;
}

.Bottom-icons:hover{
    opacity: 0.8;
}

.Bottom-sub{
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.bottom-line{
    width: 100%;
    color: white;
}