.Navbar-container {
    padding-top: var(--s);
    padding-bottom: var(--s);
    padding-left: var(--m);
    padding-right: var(--m);
    background-color: var(--darkpurple);
    border-radius: 0px 0px 24px 24px;
    position:sticky;
    top:0;
    transition: all .7s ease-in;
    z-index: 99;
    height: fit-content;
  }
  
  .Navbar-title {
    margin-right: 2%;
    color: var(--yellow);
    font-size: 42px;
    font-family: 'Orbitron';
  }
  
  .Navbar-name{
    margin-right: 12px;
    margin-left: var(--m);
    color: var(--offwhite);
    opacity: 0.95;
    text-decoration: none;
    font-size: 24px;
    font-weight: 300;
  }
  .Navbar-profilelink {

  }
  .Navbar-profilelink:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: all .25s ease-in-out;
    color: #fff;
    opacity: 1.0;
  }

  .Navbar-route {
    color: var(--offwhite);
    opacity: 0.95;
    text-decoration: none;
    font-size: 24px;
  }
  
  .Navbar-route:hover {
    color: #fff;
    opacity: 1.0;
    border-bottom: 2px solid var(--yellow);
  }

  .Navbar-route {
    transition: all .1s;
  }
  
  .Navbar-route:visited {
    opacity: 0.95;
    border-bottom: 2px solid var(--yellow);
  }
  
  .Route-clicked {
    color: var(--offwhite);
    border-bottom: 2px solid var(--yellow);
  }

  .Navbar-route.Navbar-login {
    opacity: 1;
  }
  
  .Route-container {
    margin-right: var(--xl);
  }

  .Navbar-route + .Navbar-route {
    margin-left: var(--xl);
  }

  .Navbar-sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.Navbar-logo {
  background-image: url('../../public/img/adamovies45.png');
  align-items:center;
  width: fit-content;
  height: fit-content;
  margin-right: var(--m);
  border: 1px solid var(--offwhite);
  border-radius: 6px;
  margin-bottom: -6px;
}


.Navbar-pfp {
  border-radius: 25%;
  width: 36px;
  height: 36px;
  border: 2px solid var(--offwhite);
  }

  .button-log{
    background-color: var(--offwhite);
    color: #000;
    margin-top: 5%;
    border-radius: 8px;
    font-family: "Orbitron";
    font-size: 20px;
    margin-right:0px;
    margin-left:3px;
    margin-bottom:12px;
    padding-top:2px;
    padding-bottom: 2px;
    opacity: 1.0;
}

.button-log:hover{
    opacity: 0.88;
    cursor: pointer;
}
.nav-container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
}

.log-container {
  display: inline-flex;
  align-items: center;
  padding-left: 1%;
  padding-right: 1%;
}

.link-container {
  display: inline-flex;
  align-items: center;
  padding-left: 1%;
  padding-right: 1%;
  margin-right: auto;
}

.nav-titlecontainer {
  display: inline-flex;
  align-items: center;
  padding-left: 1%;
  padding-right: 1%;
}