.Comment-body {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    border-radius: 8px;
    border: 1px solid var(--grey);
    box-shadow: 0 0 30px -10px var(--grey);
    margin: 0 0 var(--s);
    padding: 4px;
}


.Normal-background {
    background-color: #ffffbf;
}

.Self-background {
    background-color: #98fb98;
}

.comment-block {
    margin-left: 4px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.comment-pfp {
    border-radius: 25%;
    vertical-align: middle;
    margin-left: 4px;
    margin-right: 4px;
    width: 18px;
    height: 18px;
    border: 2px solid var(--offblack);
}

.comment-username {

}

.comment-username:hover {
    cursor: pointer;
    color: #0269a4;
    transform: scale(1.01);
    transition: all .25s ease-in-out;
}

.delete-button {
    color: #0269a4;
    margin-right: 5px;
}
.delete-button:hover {
    cursor: pointer;
    font-weight: 600;
}

.tinypfpcontainer{
    display:inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}